.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.adress {
  font-style: normal;
}

.navigation-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #ee954c;
}

.tel-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.modal-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #ee954c;
  color: #ffffff;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

body {
  background-color: #2d8617;
}
